{% extends 'AIWeb/base.html' %}
{% block academicsactive %}
    active
{% endblock %}
{% block content %}
    <div class="container mb-5">
        <div class="container my-3 mb-5">
            <h1 class="text-center">Digital Notes</h1>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for subject in allSubject %}
                <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="flush-collapse{{ forloop.counter }}">
                                {{ subject.subjectName }}
                            </button>
                        </h2>
                        <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}"
                             data-bs-parent="#accordionFlushExample">
                            <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                                {% for bookName,link in subject.books.items %}
                                    <a class="btn btn-primary" href="{{ link }}" target="_blank" role="button">{{ bookName }}</a>
                                {% endfor %}
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}